# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
management_env/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env
